{% extends 'base.html' %}
{% block body %}



<link href="{{url_for('static', filename='css/face_authentication.css')}}" rel="stylesheet"/> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- <div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}"></div>  -->



<!-- <section class="page-section bg-dark text-white mb-0"> -->
    <!-- <div class="container-fluid px-1 py-5 mx-auto"> -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
              <h3>Face Athentication</h3>
              <small>Sign in directly while face is recognized otherwise use your Name and National ID to sign in</small>
                <div class="card">
              
                  <!-- <div class="container">
                    <div class="row">
                      <div class="col-md-12 "> -->
                        <div class="video-container">
                          <img src="{{ url_for('video') }}">
                        </div>
                      <!-- </div>
                    </div>
                  </div> -->

                  <!-- registration button -->
                  <!-- verify button -->


            </div>
          </div>
          </div>

        <!-- </div> -->
<!-- </section> -->

{% endblock %}



