{% extends 'base.html' %}
{% block body %}


<link href="{{url_for('static', filename='css/img_capture.css')}}" rel="stylesheet"/>


<!-- <h3>Upload a picture</h3> -->
    
    

<h3 class="centered-heading">Thank you! We have recieved your information.</h3>
<h6 class="centered-heading"> Please capture a picture to complete registration registration </h6>
<hr> 


<div class="container">
    <div class="row special_div">

        <div class="col-lg-3">
        </div> 

        <div class="col-lg-6">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <!-- <h5 class="card-title">Upload a picture to complete registration registration</h5> -->
                </div>

                <div class="card-body pt-0">
                    <div class="widget-49">
                        
                        <div class="widget-49-meeting-action">

                            


                            <!-- image capture -->
                            <div id="camera-container">
                                <video id="camera-stream" width="600" height="400" autoplay></video>
                                <canvas id="camera-canvas" width="600" height="400"></canvas>
                                <!-- <button id="camera-capture">Capture</button> -->
                                <!-- <a class="nav-link" href="{{ url_for('authentication') }}">Go to face recognition page</a> -->
                                <div class="widget-49-meeting-action">
                                    <button id="camera-capture" class="btn btn-primary">Capture</button>
                                    <a href="{{ url_for('authentication') }}" class="btn btn-warning">Face Authentication</a>
                                </div>
                            </div>
                            

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
        </div> 
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{url_for('static', filename='js/img_capture.js')}}"></script>


{% endblock %}
