{% extends 'base.html' %}
{% block body %}


{% if verification %} 

<link href="{{url_for('static', filename='css/verification.css')}}" rel="stylesheet"/>

<div style="Width: 800px;
        Height: 300px;         
        margin: 10px;">          
</div>
<i class="bi bi-check-circle"></i>
<svg xmlns="http://www.w3.org/2000/svg"  width="300px" height="300px" fill="#5D883C"  class="bi bi-check-circle" viewBox="0 0 16 16">
<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>    
<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg>

<span style=
    "font-size: 25px;
    color: #707070;
    margin-left:25%;
    margin-right:25%;
    text-align: center;">
    Thank you! Your face has been recognized. 
    <a href="{{ url_for('goto_conversation') }}">Start Conversation</a>
</span>
            
{% else %}
<!-- REGISTRATION PAGE -->
{% include 'login_registration.html' %}

{% endif %}

{% endblock %}